.card {
    background-color: #222;
    color: #fff;
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-0.625em);
    background-color: #ff0000;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
    background-color: #222;
}