.carousel {
    width: 65em; 
    margin: 0 auto; 
}

.carousel-inner {
    width: 62em; 
}

.carousel-item img {
    max-width: 100%;
    height: auto; 
}

.carousel-indicators {
    position: absolute;
    bottom: 0.313em; 
    margin-bottom: 0;
}