#PlayButton 
{
    display: block; 
    margin: auto;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
}

canvas 
{
    background-color: rgb(109, 109, 109);
    display: block;
    margin: 1em auto;
}